/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/*    font-family: 'Redressed', cursive; */
}
/* ::selection{
  color: #fff;
  background:#56baed;
} */
body{
  font-family: 'Redressed', cursive;
  background: url(https://media.istockphoto.com/photos/metal-tictactoe-game-pieces-picture-id168678735?b=1&k=6&m=168678735&s=170667a&w=0&h=-31Z3GQH75Ji84XE4_9uJva6R06G3n_8yc6wX89c1o0=);
}
.select-box, .play-board, .result-box{
   position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}
.select-box{
  position: absolute;
    top: 40%;
    left:50%;
  height: 255px;
    border: 2px solid green;
    background:url(https://cdn.pixabay.com/photo/2012/03/09/13/47/neon-22534__480.jpg);
    padding: 20px 20px;
    border-radius: 8px;
}
.select-box h1{
    border-bottom: 2px solid skyblue;
    font-family: 'Bungee Outline', cursive;
    color: aliceblue;
}
.select-box h3{
    /* font-family: 'Bungee Outline', cursive; */
    color: gold;
    text-align: center;
}
.select-box.hide{
  opacity: 0;
  pointer-events: none;
}
/* .select-box header{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
} */
.select-box .title{
  font-size: 20px;
    font-weight: bold;
   padding-bottom: 5px;
text-align: center;
color: azure;
}
.select-box .options{
  display: flex;
  width: 100%;
}
.options button{
     display: flex;
justify-content: center;
align-items: center;
    border: 1px solid blueviolet;
    color: blue;
border-radius: 2px;
background-color: yellowgreen;
padding: 2px 2px;
font-weight: bold;
width: 100%;
margin: 25px 2px;
cursor: pointer;
transition: all 0.1s ease;
}
.options button:hover,
.btn button:hover{
   transform: scale(0.96);
    background: skyblue;
    color: black;
    box-shadow: 0px 0px 30px skyblue;
}
.options button.playerX{
  margin-right: 5px;
}
.options button.playerO{
  margin-left: 5px;
}
/* .select-box .credit{
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
.select-box .credit a{
  color: #56baed;
  text-decoration: none;
}
.select-box .credit a:hover{
  text-decoration: underline;
} */

.play-board{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.play-board.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.play-board .details{
border: 1px solid green;
    background:url(https://cdn.pixabay.com/photo/2016/07/13/12/51/bokeh-1514380__480.jpg);
    padding: 7px ;
    border-radius: 8px;
    color: blue;
}
.play-board .players{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.players span{
     background: aqua;
    margin: 2px 2px;
    width: 100%;
    padding: 2px 2px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
position: relative;
z-index: 5;
transition: all 0.3s ease;
}
.players.active span:first-child{
  color: #fff;
}
.players.active span:last-child{
  color: #56baed;
}
.players span:first-child{
  color: #fff;
}
.players .slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
   background: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.players.active .slider{
  left: 50%;
}
.players.active span:first-child{
 color:blueviolet
}
.players.active span:nth-child(2){
  color: white;
}
.players.active .slider{
  left: 50%;
}
.play-area{
  margin-top: 20px;
}
.play-area section{
  display: flex;
  margin-bottom: 1px;
}
.play-area section span{
  display: block;

    /* top: 40%;
    left:40%;  */
    background: aliceblue;
 
    width: 80px;
    height: 80px;
    margin: 1px;
    border: 2px solid red;
    border-radius: 3px;
    text-align: center;
    font-size: 40px;
}

.result-box{
  background:url(https://cdn.pixabay.com/photo/2020/05/08/01/32/chess-5143711__480.jpg);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -50%) scale(0.9); 
}
.result-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.result-box .won-text{
   display: flex;  
    width: 100%;
    padding: 20px;
    justify-content: center;
     color: gold;
}
.result-box .won-text p{
 font-size: 25px;
    font-weight: bolder;
    margin: 0px 5px; 
}
.result-box .btn{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.btn button{
   border: 1px solid blueviolet;
    color: blue;
border-radius: 2px;
background-color: aqua;
padding: 2px 2px;
font-weight: bold;

margin: 2px 2px;
cursor: pointer;
transition: all 0.1s ease; 
}
.resultbox .btn button:hover{

    transform: scale(0.96);
    background:gold;
    color: black;
}
